@model IEnumerable<CrudAplicativoUniversidad.Models.Mdtipocolaborador03>

@{
    ViewData["Title"] = "Tipo Colaborador";
}

<h1>Tipo de Colaborador</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Tipo @*@Html.DisplayNameFor(model => model.Tipo03)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo03)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id03">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id03">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id03">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
