@model CrudAplicativoUniversidad.Models.Mdalumno01

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles del Alumno</h1>

<div>
    <h4>Alumno</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombres01)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombres01)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos01)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellidos01)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id01">Edit</a> |
    <a asp-action="Index">Regresar</a>
</div>
